<div class="option-page mb-3 mb-md-0 p-3 col-md-2 col-12">
    <div class="tab-item {{#if (eq currentTab 1)}} active{{/if}}">
        <img class="icon" src="../icon/user-small.png">
        <a href="/user/userinfo"><span>Thông tin cá nhân</span></a>
    </div>
    <div class="tab-item {{#if (eq currentTab 2)}} active{{/if}}">
        <img class="icon" src="../icon/ticket-small.png">
        <a href="/user/tickets"><span>Vé của tôi</span></a>
    </div>
    <div class="tab-item {{#if (eq currentTab 3)}} active{{/if}}">
        <img class="icon" src="../icon/changepass-small.png">
        <a href="/user/changePass"><span>Đổi mật khẩu</span></a>
    </div>
    <div class="tab-item">
        <img class="icon" src="../icon/logout-small.png">
        <a href="/user/logout"><span>Đăng xuất</span></a>
    </div>
</div>