<!--Search box-->
{{> slogan}}
<div class="container">
  <section class="fs-3 container d-flex justify-content-center"
    style="text-align:justify; margin-top: 50px; font-size: large;">
    <p> &nbsp;&nbsp;&nbsp;&nbsp;Được thành lập từ năm 2002, <b>Trip4</b> đã xây dựng được tên tuổi hàng đầu với bề dày
      hoạt động trong lĩnh vực thương mại điện tử, công nghệ và du lịch.
      Chúng tôi tự hào là đơn vị đi đầu trong sự nghiệp cách mạng ngành xe khách và du lịch Việt Nam bao gồm các giải
      pháp: đặt vé & phương tiện thông minh cho hành khách.<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;Không chỉ mang đến cho người dùng đa dạng lựa chọn về hãng xe, dòng xe và giải pháp đặt vé
      nhanh chóng, tiện lợi, <b>Trip4</b> còn có rất nhiều ưu đãi hàng tháng, giúp khách hàng đặt được vé xe khách chất
      lượng cao với giá thấp
      nhất thị trường. Hành khách có thể dễ dàng lựa chọn trước chỗ ngồi yêu thích,
      thanh toán vé trực tuyến, hoặc bằng tiền mặt tại các cửa hàng tiện lợi trên cả nước.
      Mỗi chúng ta đều có những chuyến đi khởi đầu cho những hành trình thú vị và hạnh phúc,
      thay đổi cuộc đời của chính mình. <br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;Sứ mệnh mà <b>Trip4</b> hướng đến không chỉ gói gọn trong những chuyến đi, mà còn là hành
      trình cuộc đời của mỗi
      người. <b>Trip4</b> mong muốn đồng hành và góp phần cho mỗi hành trình ấy hạnh phúc trọn vẹn hơn. Đó có thể là
      những
      chuyến đi có giá tiết kiệm hơn tạo điều kiện cho nhiều người được đi du lịch hơn,
      hay nhiều người được tiếp cận với những dịch vụ tốt hơn, có nhiều trải nghiệm hạnh phúc và ý nghĩa hơn.
    </p>
  </section>
</div>