<main>
    <script text="application/javascript">
        $(document).ready(function () {
            /* 1. Visualizing things on Hover - See next part for action on click */
            $('#stars li').on('mouseover', function () {
                var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on
                // Now highlight all the stars that's not after the current hovered star
                $(this).parent().children('li.star').each(function (e) {
                    if (e < onStar) {
                        $(this).children('button').addClass('hover');
                        $(this).addClass('selected');
                    }
                    else {
                        $(this).children('button').removeClass('hover');
                        $(this).removeClass('selected');

                    }
                });
            });

            $('.grid-item .row p').on('click', function () {
                console.log('reset');
                $('#stars li').parent().children('li.star').each(function (e) {
                    $('#stars li').children('button').removeClass('hover');
                    $('#stars li').removeClass('selected');
                    $('#stars li').children('button').removeClass('selected');
                });
            });


            /* 2. Action to perform on click */
            $('#stars li').on('click', function () {
                var onStar = parseInt($(this).data('value'), 10); // The star currently selected
                console.log(onStar);

                var stars = $(this).parent().children('li.star');

                for (i = 0; i < stars.length; i++) {
                    $(stars[i]).removeClass('selected');
                    $(stars[i]).children('button').removeClass('selected');

                }

                for (i = 0; i < onStar; i++) {
                    $(stars[i]).addClass('selected');
                    $(stars[i]).children('button').addClass('selected');
                }
                var rating = onStar; // Get the rating from the selected star
                $('#rating').val(rating);
            })
        })
    </script>

    <div class="container-fluid py-2">
        <div class="row">
            <div class="col-6">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h3>Cho ý kiến về chuyến xe</h3>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form action="/user/comment/{{id}}" method="post" enctype="multipart/form-data">
                                <input type="hidden" id="rating" name="rating" value="-1">
                                <div class="d-flex justify-content-center">
                                    <label style="font-size: 30px;" class="mx-auto">Cho chất lượng chuyến đi </label>
                                    <div class="star-container pt-2 mx-1" >
                                        <ul id='stars'>
                                            <li class='star' title='Poor' data-value='1'>
                                                <button type="button"></button>
                                            </li>
                                            <li class='star' title='Fair' data-value='2'>
                                                <button type="button"></button>
                                            </li>
                                            <li class='star' title='Good' data-value='3'>
                                                <button type="button"></button>
                                            </li>
                                            <li class='star' title='Excellent' data-value='4'>
                                                <button type="button"></button>
                                            </li>
                                            <li class='star' title='WOW!!!' data-value='5'>
                                                <button type="button"></button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div for="content" style="font-size: 30px;">Ý kiến thêm</div>
                                    <textarea id="content" name="content" style="height:auto; padding:0; width: 400px; overflow: hidden; resize: none;"></textarea>
                                </div>
                                <div class="col-6  top-1">
                                    <button type="submit" class="btn btn-primary me-1 mb-1" style="font-size: 20px;">Hoàn thành</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>