<main>
    <div class="main-body">
        <div class="d-flex justify-content-center h1 page_title">
            Có một email xác nhận đã được gửi đến bạn
        </div>
    </div>

    <button onclick="{{resendLink()}}">Gửi lại link</button>
</main>

