
<body>
  <section class="fs-3 container d-flex justify-content-center"
    style="text-align:justify; margin-top: 50px; margin-bottom: 200px; font-size: 300px;">
    {{#with error}}
    <p>Lỗi: {{this}}</p>
    {{/with}}
  </section>
</body>