<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trip4 Vé xe giá rẻ</title>
</head>

<body> 
    <h4 style="color: #0085ff">Cảm ơn bạn đã đặt vé</h4>
    <div style="padding: 10px;">
        <p><b>Nhà xe</b> nhaXe.TenNhaXe </p>
        <p><b>Địa chỉ:</b> nhaXe.DiaChi</p>
        <p><b>Số điện thoại: </b> nhaXe.SoDt</p>
        <div style="padding: 10px; background-color: white;">
            <p style="color: black; text-align: center;"><b>VÉ XE KHÁCH</b></p>
            <p style="color: black; text-align: center;"><b>TUYẾN ĐƯỜNG: chuyenXe.DiemBatDau - chuyenXe.DiemKetThuc</b></p>
            <p><span><b>Loại xe:</b> chuyenXe.LoaiXe</span></p>
            <p>
                <span><b>Trạm đón:</b> chuyenXe.TramDi</span>
                <span><b>Trạm đến:</b> chuyenXe.TramDen</span>
            </p>
            <p><b>Thời gian khời hành:</b> hour Giờ min Phút Ngày day Tháng mon Năm year</p>
            <hr>
            <h3>Thông tin khách hàng</h3>
            <p>
                <p><b>Họ tên:</b> req.user.HoTen</p>
                <p><b>Số điện thoại:</b> req.user.SoDt</p>
                <p><b>Email:</b> req.user.email</p>
                <p><b>Vị trí ghế ngồi:</b> veXe.DanhSachChoNgoi</p>
                <p>
                    <span><b>Tổng tiền: </b>veXe.TongTien</span>
                    <span><b>Tình trạng: </b>veXe.DaThanhToan</span>
                </p>
            </p>

        </div>
    </div>
</body>

</html>